Repository atakanozcan/OnlineIDE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compiler:build, project:build, dark-mode:build, frontend:build, compiler:test, project:package, compiler:package, frontend:package, dark-mode:package, project:publish, frontend:publish, compiler:publish, dark-mode:publish

Path conditions:
  compiler:build: any of: compiler/**/*
  project:build: any of: project/**/*
  dark-mode:build: any of: dark-mode/**/*
  frontend:build: any of: frontend/**/*
  compiler:test: any of: compiler/**/*
  project:package: any of: project/**/*
  compiler:package: any of: compiler/**/*
  frontend:package: any of: frontend/**/*
  dark-mode:package: any of: dark-mode/**/*
  project:publish: any of: project/**/*
  frontend:publish: any of: frontend/**/*
  compiler:publish: any of: compiler/**/*
  dark-mode:publish: any of: dark-mode/**/*

sheet 11
  project/pom.xml
  project/src/main/java/edu/tum/ase/project/ProjectApplication.java
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
  project/src/main/java/edu/tum/ase/project/model/Project.java
  project/src/main/java/edu/tum/ase/project/service/ProjectService.java
  project/src/main/java/edu/tum/ase/project/service/SourceFileService.java
  project/src/main/resources/application.yml
Due: project:build, project:package, project:publish

Configured gateway routing with Zuul
  compiler/src/main/java/edu/tum/ase/compiler/controller/CompilerController.java
  frontend/run.sh
  frontend/src/main/java/com/example/frontend/WebMvcConfiguration.java
  frontend/src/main/resources/application.yml
  frontend/ui/src/app/app.module.ts
  frontend/ui/src/app/editor/compiler.service.ts
  frontend/ui/src/app/manage-files/files.service.ts
  frontend/ui/src/app/manage-project/project.service.ts
  gateway/mvnw
  gateway/mvnw.cmd
  gateway/pom.xml
  gateway/src/main/java/edu/tum/ase/gateway/GatewayApplication.java
  gateway/src/main/java/edu/tum/ase/gateway/GatewayController.java
  gateway/src/main/resources/application.yml
  gateway/src/test/java/edu/tum/ase/gateway/GatewayApplicationTests.java
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
  project/src/main/java/edu/tum/ase/project/controller/SourceFileController.java
Due: compiler:build, project:build, frontend:build, compiler:test, project:package, compiler:package, frontend:package, project:publish, frontend:publish, compiler:publish

Exercise 4: Service Discovery in the OnlineIDE sheet 12 rebase master
  compiler/pom.xml
  compiler/src/main/java/edu/tum/ase/compiler/CompilerApplication.java
  compiler/src/main/resources/application.yml
  dark-mode/src/main/java/edu/tum/ase/darkmode/DarkmodeApplication.java
  dark-mode/src/main/resources/application.yml
  discoveryserver/mvnw
  discoveryserver/mvnw.cmd
  discoveryserver/pom.xml
  discoveryserver/src/main/java/edu/tum/ase/discoveryserver/DiscoveryserverApplication.java
  discoveryserver/src/main/resources/application.yml
  discoveryserver/src/test/java/edu/tum/ase/discoveryserver/DiscoveryserverApplicationTests.java
  frontend/pom.xml
  frontend/src/main/java/com/example/frontend/FrontendApplication.java
  frontend/src/main/resources/application.yml
  project/pom.xml
  project/src/main/java/edu/tum/ase/project/ProjectApplication.java
  project/src/main/resources/application.yml
Due: compiler:build, project:build, dark-mode:build, frontend:build, compiler:test, project:package, compiler:package, frontend:package, dark-mode:package, project:publish, frontend:publish, compiler:publish, dark-mode:publish

Updated spring-boot version for compatibility issues with cloud services
  compiler/pom.xml
  dark-mode/pom.xml
  frontend/pom.xml
  project/pom.xml
Due: compiler:build, project:build, dark-mode:build, frontend:build, compiler:test, project:package, compiler:package, frontend:package, dark-mode:package, project:publish, frontend:publish, compiler:publish, dark-mode:publish

Fixed some properties in application.yml files
  compiler/src/main/resources/application.yml
  project/src/main/resources/application.yml
Due: compiler:build, project:build, compiler:test, project:package, compiler:package, project:publish, compiler:publish

resolving unrecognized merge conflicts
  project/src/main/java/edu/tum/ase/project/ProjectApplication.java
  project/src/main/resources/application.yml
  spring-angular-oauth2/package.sh
Due: project:build, project:package, project:publish

Active profile for the project service is fixed
  project/src/main/resources/application.yml
Due: project:build, project:package, project:publish

fix compiler test
  compiler/src/test/java/edu/tum/ase/compiler/e2e/CompilerE2ERestTests.java
Due: compiler:build, compiler:test, compiler:package, compiler:publish

use package-all.sh in gitlab-ci
  .gitlab-ci.yml
Due: none

[13.5] Publish Stage
  .gitlab-ci.yml
Due: none

[13.5] pass on artifacts and rules for triggering jobs
  .gitlab-ci.yml
  compiler/src/main/java/edu/tum/ase/compiler/CompilerApplication.java
  dark-mode/src/main/java/edu/tum/ase/darkmode/DarkmodeApplication.java
  dark-mode/src/test/java/edu/tum/ase/darkmode/DarkmodeApplicationTests.java
  frontend/src/main/java/com/example/frontend/FrontendApplication.java
  project/src/main/java/edu/tum/ase/project/model/Project.java
Due: compiler:build, project:build, dark-mode:build, frontend:build, compiler:test, project:package, compiler:package, frontend:package, dark-mode:package, project:publish, frontend:publish, compiler:publish, dark-mode:publish

[13.5] Deploy Stage
  .gitlab-ci.yml
  docker-compose.prod.yml
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
Due: project:build, project:package, project:publish

Added missing mvn files
  discoveryserver/.gitignore
  discoveryserver/.mvn/wrapper/MavenWrapperDownloader.java
  discoveryserver/.mvn/wrapper/maven-wrapper.jar
  discoveryserver/.mvn/wrapper/maven-wrapper.properties
  gateway/.gitignore
  gateway/.mvn/wrapper/MavenWrapperDownloader.java
  gateway/.mvn/wrapper/maven-wrapper.jar
  gateway/.mvn/wrapper/maven-wrapper.properties
Due: none

Fixed the pom file
  project/pom.xml
Due: project:build, project:package, project:publish

frontend static files update
  frontend/src/main/resources/static/index.html
  frontend/src/main/resources/static/main.454875ad7bc839d022b6.js
  frontend/src/main/resources/static/main.4eeb029137dbba05b552.js
Due: frontend:build, frontend:package, frontend:publish

including gateway and discovery in docker
  compiler/src/main/resources/application.yml
  dark-mode/Dockerfile
  dark-mode/src/main/resources/application.yml
  discoveryserver/Dockerfile
  discoveryserver/src/main/resources/application.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/src/main/resources/application.yml
  gateway/Dockerfile
  gateway/src/main/resources/application.yml
  package-all.sh
  project/Dockerfile
Due: compiler:build, project:build, dark-mode:build, frontend:build, compiler:test, project:package, compiler:package, frontend:package, dark-mode:package, project:publish, frontend:publish, compiler:publish, dark-mode:publish

No longer create projects on startup
  docker-compose.yml
  project/Dockerfile
  project/src/main/java/edu/tum/ase/project/ProjectApplication.java
Due: project:build, project:package, project:publish

update docker-compose.prod
  docker-compose.prod.yml
Due: none

Pipeline stages build, package, publish for gateway and discoveryserver
  .gitlab-ci.yml
Due: none

Triggering the pipeline
  compiler/test.txt
  discoveryserver/test.txt
  frontend/test.txt
  gateway/test.txt
  project/test.txt
Due: compiler:build, project:build, frontend:build, compiler:test, project:package, compiler:package, frontend:package, project:publish, frontend:publish, compiler:publish

Trigger the pipeline even harder
  compiler/test.txt
  discoveryserver/test.txt
  frontend/test.txt
  gateway/test.txt
  project/test.txt
Due: compiler:build, project:build, frontend:build, compiler:test, project:package, compiler:package, frontend:package, project:publish, frontend:publish, compiler:publish

Fixed the project sharing functionality
  frontend/src/main/resources/static/index.html
  frontend/src/main/resources/static/main.454875ad7bc839d022b6.js
  frontend/src/main/resources/static/main.e16430d0c0858cc01bc0.js
  frontend/ui/src/app/manage-project/manage-project.component.html
  frontend/ui/src/app/manage-project/manage-project.component.ts
  frontend/ui/src/app/manage-project/project.service.ts
  project/src/main/java/edu/tum/ase/project/ProjectApplication.java
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
  project/src/main/java/edu/tum/ase/project/model/Project.java
  project/src/main/java/edu/tum/ase/project/service/SourceFileService.java
Due: project:build, frontend:build, project:package, frontend:package, project:publish, frontend:publish

README and Fix E2E Test
  README.md
  compiler/src/test/java/edu/tum/ase/compiler/e2e/CompilerE2ERestTests.java
Due: compiler:build, compiler:test, compiler:package, compiler:publish

Fixed the project sharing functionality
  compiler/test.txt
  discoveryserver/test.txt
  frontend/src/main/resources/static/index.html
  frontend/src/main/resources/static/main.454875ad7bc839d022b6.js
  frontend/src/main/resources/static/main.e16430d0c0858cc01bc0.js
  frontend/test.txt
  frontend/ui/src/app/manage-project/manage-project.component.html
  frontend/ui/src/app/manage-project/manage-project.component.ts
  frontend/ui/src/app/manage-project/project.service.ts
  gateway/test.txt
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
  project/src/main/java/edu/tum/ase/project/model/Project.java
  project/src/main/java/edu/tum/ase/project/service/SourceFileService.java
  project/test.txt
Due: compiler:build, project:build, frontend:build, compiler:test, project:package, compiler:package, frontend:package, project:publish, frontend:publish, compiler:publish

TRIGGER
  compiler/test.txt
  discoveryserver/test.txt
  frontend/test.txt
  gateway/test.txt
  project/test.txt
Due: compiler:build, project:build, frontend:build, compiler:test, project:package, compiler:package, frontend:package, project:publish, frontend:publish, compiler:publish

TRIGGER AGAIN
  .gitlab-ci.yml
  discoveryserver/test.txt
  gateway/test.txt
Due: none

Fix ci, update readme
  .gitlab-ci.yml
  README.md
Due: none

fix docker-compose.prod.yml
  docker-compose.prod.yml
Due: none

Replace Composit SourceFile Key with genereated String ID
  project/src/main/java/edu/tum/ase/project/controller/SourceFileController.java
  project/src/main/java/edu/tum/ase/project/model/Project.java
  project/src/main/java/edu/tum/ase/project/model/SourceFile.java
  project/src/main/java/edu/tum/ase/project/model/SourceFileKey.java
  project/src/main/java/edu/tum/ase/project/repository/SourceFileRepository.java
  project/src/main/java/edu/tum/ase/project/service/SourceFileService.java
Due: project:build, project:package, project:publish

Fixed the refresh issue
  frontend/src/main/resources/static/index.html
  frontend/src/main/resources/static/main.1636d4341cffb9ba8002.js
  frontend/src/main/resources/static/main.e16430d0c0858cc01bc0.js
  frontend/ui/src/app/app.module.ts
Due: frontend:build, frontend:package, frontend:publish

Sharing error handling improved
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
Due: project:build, project:package, project:publish

Added security configurations to the compiler service
  compiler/src/main/resources/application.yml
Due: compiler:build, compiler:test, compiler:package, compiler:publish

some tweaks
  docker-compose.prod.yml
  docker-compose.yml
  frontend/src/main/resources/static/index.html
  frontend/src/main/resources/static/main.1636d4341cffb9ba8002.js
  frontend/src/main/resources/static/main.ee3ad152fc1a5b494ebf.js
  frontend/ui/src/app/editor/editor.component.ts
  project/Dockerfile
  project/src/main/resources/application.yml
Due: project:build, frontend:build, project:package, frontend:package, project:publish, frontend:publish

trimming the project config
  project/src/main/resources/application.yml
Due: project:build, project:package, project:publish

trimming the project config
  project/Dockerfile
Due: project:build, project:package, project:publish
